*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol, ul{
    list-style: none;
}
a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin-left: 1600px;
}
.menu{
    margin-top: 70px;
}
.menu-item, .text4 {
    font-family: 'Poboto';
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    margin-right: 40px;
    color: #333333;
   
     
}
.logo{
    font-family: 'Poboto';
    font-weight: 700;
    color:#F13C6E;
    margin-top: 91px;
    margin-left: 1900px;
}
.head-section{
    width: 1920px;
    height: 604px;
    background: url("../images/Rectangle\ 2.png");
    margin-top: 30px;
    margin-left: 950px;
    padding:180px 350px;
}

.text1{
    font-family: 'Poboto';
    font-weight: 700;
    color: #FFFFFF;
    font-size: 48px;
    display: inline-block;
}
.text2 {
    font-family: 'Poboto';
    font-weight: 400;
    color: #FFFFFF;
    font-size: 14px;
    display: inline-block;
}
.btn {
    margin-top: 65px;
    border: 5px;
    border-color: #FFFFFF;
    color: #FFFFFF;
    background: #F13C6E;
    border-radius: 20px;
    display: inline-block;
    padding: 12px 50px;
    font-family: 'Poboto';
    font-weight: 400;
    font-size: 14px;
    display: inline-block
}
.text3{
    font-family: 'Poboto';
    font-weight: 700;
    color:#000000;
    margin-top: 80px;
    margin-left: 1300px;
}
.container2{
    max-width: 1200px;
    margin-top: 50px;
    margin-left: 1300px;
   
}
.block{
    width: 255px;
    height: 363px;
    margin-right: 60px;
    flex-direction: row;

}
.armchair{
    display: inline-block;
       
}
.text5 {
    font-size: 21px;
    font-weight: 500px;
    color:#333333;
    margin-top: 20px;
    text-align: center;

}

/* .projects {
    background: #34547A;
    padding: 100px ;
    margin-top: 100px;
} */

/* .projects-item {
    height: 50px;
    
} */
/* .foto{
    margin: 0 13px;
} */

/* .text5 {
    font-size: 32px;
    width: 500px;
    line-height: 37.5px;
    margin-top: 100px;
    margin-left: 300px;
    align-self: center;
} */
/* .blok {
    width: 600px;
    height: 600px;
    margin-left: 100px;
} */
 /* .video {
    width: 600px;
    margin-left: 83px;

}  */
/* .projects1{
    background: #34547A;
    padding: 50px 1380px 82px 406px;
    margin-top: 100px;
} */
/* .projects-item1 {
    height: 151px; */
      /* margin-left: -610px; */

/* .text6 {
    font-size: 25px;
    /* width: 500px; */
    line-height: 45px; 
    color: white;
    /* margin-left: 406px;
    margin-top: 50px; */
    text-align: 0 auto;
}

/* .text7 {
    font-size: 13px;
    /* width: 500px; */
    /* line-height: 21px;
    color: white;
    margin: 0 auto;
} */ */ */ */ */