*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol, ul{
    list-style: none;
}
a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin-left: 1600px;
}
.menu{
    margin-top: 20px;
    margin-left: 90px;
}
.menu1{
    margin-top: 40px;
}
.menu-item, .text4 {
    font-family: 'Poboto';
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    margin-right: 40px;
    color: #333333;
 
     
}
 .logo{
    margin-top: 30px;
    margin-left: 170px;
    margin-bottom: 20px;
    display: inline-block;
    
}   

.head-section{
    width: 1920px;
    height: 604px;
    background: url("../images/Rectangle\ 2.png");
    margin-top: 30px;
    margin-left: 950px;
    padding:180px 350px;
}

.text1{
    font-family: 'Poboto';
    font-weight: 700;
    color: #FFFFFF;
    font-size: 48px;
    
}
.text2 {
    font-family: 'Poboto';
    font-weight: 400;
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 30px;
    margin-left: 0;
    text-align: left;
}
.btn {
    margin-top: 65px;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    background: #F13C6E;
    border-radius: 20px;
    display: inline-block;
    padding: 12px 50px;
    font-family: 'Poboto';
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    /* display: inline-block; */
}

.text3{
    font-family: 'Poboto';
    font-weight: 700;
    color:#000000;
    font-size: 24px;
    margin-top: 80px;
    margin-left: 1300px;
}
.container2{
    max-width: 1100px;
    margin-top: 50px;
    margin-left: 1300px;
    display: flex;
    flex-direction: row;
   
}
.wrap{
    width: 255px;
    height: 363px;
    margin-right: 20px;
    padding: 25px 65px;
}
.armchair{
    /* display: inline-block; */
         
}
.text5 {
    font-family: 'Poboto';
    font-weight: 500;
    font-size: 21px;
    font-weight: 500px;
    color:#333333;
    margin-top: 20px;
    margin-left: 25px;
}
.wrap1{
    width: 560px;
    height: 212px;
    background-color: #F13C6E;
    margin-right: 30px;
    padding: 35px 30px;
    display: flex;
}

.wrap2{
    display: flex;
}
.text6 {
    font-family: 'Poboto';
    font-weight: 700px;
    font-size: 18px;
    color:#FFFFFF;
    margin-top: 0px;
    margin-left: 0;
}
.btn1 {
    width: 240px;
    margin-top: 20px;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    background: #F13C6E;
    border-radius: 20px;
    display: inline-block;
    padding: 9px 100px 9px 25px;
    font-family: 'Poboto';
    font-weight: 400;
    font-size: 14px;
    text-align: left;
} 
.wrap-img{
    display: flex;
    justify-content: end;
    margin-left: 10px;

}
.container3{
    max-width: 1350px;
    margin-top: 50px;
    margin-left: 1100px;
    display: flex;
    flex-direction: row;
   
}

.text7 {
    font-family: 'Poboto';
    font-weight: 500;
    font-size: 16px;
    font-weight: 500px;
    color:#000000;
    margin-top: 100px;
    margin-left: 35px;
    margin-right: 150px;
}
.menu-item1{
    font-family: 'Poboto';
    font-weight: 400;
    font-size: 12px;
    display: center;
    margin-left:35px;
    line-height: 28px;
    color: #828282;
    margin-right: 160px;
}

.container4{
    max-width: 1100px;
    margin-top: 70px;
    margin-left: 1300px;
}
.wrap2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo1{
    margin-left: 30px;
    display: inline-block;
} 

.btn2 {
    width: 170px;
    margin-top: 20px;
    border: 2px solid #F13C6E;
    color: #000000;
    background: #FFFFFF;
    border-radius: 20px;
    display: inline-block;
    padding: 12px 26px;
    font-family: 'Poboto';
    font-weight: 400;
    font-size: 14px;
    margin-left: 30px;
    
} 

.text8 {
    font-family: 'Poboto';
    font-weight: 400;
    font-size: 12px;
    margin-left:35px;
    line-height: 28px;
    color: #828282;
    
}
.container5{
    max-width: 1100px;
    margin-top: 70px;
    /* margin-left: 1300px; */
}